.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 250px;
    padding-inline: 20px;
}

.footer p {
    text-transform: capitalize;
}

.footer p span {
    text-transform: uppercase;
    color: tomato;
}